html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: $roboto-regular;
  color: $black;
  background-color: $white-light;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
  cursor: pointer;
}



// helpers
.clearfix {
  @include clearfix();
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.forDesktop {
  display: block;
}

.forDesktopTablet {
  display: block;
}

.forTablet {
  display: none;
}

.forMobile {
  display: none;
}

@media ($tablet) {
  .forDesktop {
    display: none;
  }

  .forTablet {
    display: block;
  }
}

@media ($mobile) {
  .forDesktopTablet {
    display: none;
  }

  .forMobile {
    display: block;
  }
}



// common blocks
.contentWrapper {
  max-width: 1440px;
  min-width: 1024px;
}

.contentWrapper__overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
  cursor: pointer;
  @include hide();

  &.is-active {
    @include show();
  }
}

.titleMain {
  margin: 29px 0 22px;
  font-size: 24px;
  font-family: $roboto-black;
}

.titleMain--padding {
  margin-top: 0;
  padding-top: 29px;
}

.titleMain__link {
  position: relative;
  display: inline-block;
  padding-left: 60px;
  color: $black;

  &:before {
    content: '';
    @include background-image(arrow_left_red, 10px, 15px);
    background-position: 9px center;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 2px;
    left: 0;
    border: 1px solid $red;
    border-radius: 50%;
  }
}

.subtitleMain {

}

.contentIn {
  position: relative;
  margin-left: 260px;
  padding: 0 30px;
}

@media ($mobile) {

}



// img
.imgWrapper {

}

.imgWrapper__img {
  vertical-align: middle;
}
