body {
  font-size: 14px;
  line-height: 1.5;
  font-family: $roboto-regular;
  color: $black;
  background-color: $white-light;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
  cursor: pointer;
}



// helpers
.clearfix {
  @include clearfix();
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.forDesktop {
  display: block;
}

.forDesktopTablet {
  display: block;
}

.forTablet {
  display: none;
}

.forMobile {
  display: none;
}

@media ($tablet) {
  .forDesktop {
    display: none;
  }

  .forTablet {
    display: block;
  }
}

@media ($mobile) {
  .forDesktopTablet {
    display: none;
  }

  .forMobile {
    display: block;
  }
}



// common blocks
.contentWrapper {
  overflow: hidden;
}

.titleMain {
  font-size: 24px;
  font-family: $roboto-black;
}

.subtitleMain {

}

.contentIn {
  position: relative;
  width: 764px;
  margin-left: 260px;
  padding: 0 20px;
}

@media ($mobile) {

}



// img
.imgWrapper {

}

.imgWrapper__img {
  vertical-align: middle;
}
