.person {
  margin-bottom: 30px;
  background-color: $white;
  border-radius: 5px;
}



// bio
.personBio {
  position: relative;
  flex-basis: 300px;
  padding: 38px 30px 30px;
  border-right: 1px solid #E2E2E2;

  .tooltip {
    right: -15px;
  }
}

.personBio__avatar {
  display: block;
  max-width: 150px;
  margin: 0 auto 26px;
  border-radius: 50%;
}

.personBio__name {
  font-size: 22px;
  font-family: $roboto-black;
  text-align: center;
}

.personBio__OnlineStatus {
  font-size: 14px;
  font-family: $roboto-bold;
  text-align: center;
}

.personBio__OnlineStatus--online {
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #6CDD57;
    border-radius: 50%;
  }
}

.personBioInfo {
  margin: 38px 0 20px;
}

.personBioInfo__col {
  &:first-child {
    .personBioInfo__in {
      padding-left: 0;
    }
  }

  &:last-child {
    .personBioInfo__in {
      padding-right: 0;
      border-right: 0;
    }
  }
}

.personBioInfo__in {
  padding: 0 20px;
  border-right: 1px solid #E2E2E2;
}

.personBioInfo__title {
  margin-bottom: 8px;
  font: 12px/16px $roboto-bold;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.5);
}

.personBioInfo__about {
  font-size: 14px;
  line-height: 18px;
}

.personBio__map {
  margin: 0;
}



// vacancy
.personVacancy {
  padding: 30px 30px 15px;
  flex-basis: calc(100% - 300px);
}

.responseQuantity {
  margin-top: 9px;
  padding: 15px 0;
  border-bottom: 1px solid #E2E2E2;
}

.responseQuantity__link {
  position: relative;
  display: block;
  padding: 5px 20px 5px 39px;
  font: 16px/20px $roboto-regular;
  color: $black;

  &:before {
    content: '';
    @include background-image(briefcase, 20px, 18px);
    position: absolute;
    top: 7px;
    left: 0;
  }

  &:after {
    content: '';
    @include background-image(arrow_right_red, 11px, 19px);
    position: absolute;
    top: 6px;
    right: 0;
  }
}


.personButtons {
  margin-right: -20px;
  padding: 20px 0;
}

.personButtons__in {
  margin-right: 20px;
}

.personButtons__button {
  height: 45px;
  font-size: 14px;
  line-height: 45px;

  &.linkButton--transparent {
    line-height: 43px;
    border-color: #97B563;
  }
}
