$white:         #fff;
$white-light:   #F5F5F5;

$red:           #F15F79;
$green:         #76C355;

$black:         #000;



// animation
$transition-normal: .3s linear;
$transition-fast: .1s linear;



// fonts
$roboto-regular: 'roboto-regular', Arial, Tahoma, sans-serif;
$roboto-medium:  'roboto-medium', Arial, Tahoma, sans-serif;
$roboto-bold:    'roboto-bold', Arial, Tahoma, sans-serif;
$roboto-black:   'roboto-black', Arial, Tahoma, sans-serif;



// screen resolutions
$tablet: 'max-width: 992px';
$mobile: 'max-width: 767px';
