.popup {
  display: none;
  width: 656px;
  padding: 45px 75px 50px;
  background-color: $white;
  border-radius: 5px;
}

.popup__title {
  margin-bottom: 3px;
  font: 26px/33px $roboto-black;
}

.popup__info {
  color: #919191;
}

.popup__form {
  margin-top: 26px;
}
