.vacancyAbout {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  right: -470px;
  padding-bottom: 30px;
  background-color: $white;
  width: 470px;
  overflow: auto;
  transition: right $transition-normal;

  &.is-active {
    right: 0;
  }
}



// header
.vacancyAboutHeader {
  position: relative;
  padding: 42px 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.vacancyAboutHeader__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
}

.vacancyAboutHeader__close {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.vacancyAboutHeader__time {
  position: relative;
  margin-bottom: 2px;
  font-size: 10px;
  font-family: $roboto-bold;
  text-transform: uppercase;
  color: $white;
}

.vacancyAboutHeader__title {
  position: relative;
  font: 18px/26px $roboto-black;
  color: $white;
}



// stats
.vacancyStats {
  padding: 16px 0;
  text-align: center;
}

.vacancyStats__col {
  border-right: 1px solid #E2E2E2;

  &:last-child {
    border-right: 0;
  }
}

.vacancyStats__quantity {
  font: 24px/30px $roboto-bold;
}

.vacancyStats__info {
  font-size: 12px;
  color: #959595;
}



// content
.vacancyContent {
  margin: 0 30px 15px;
  padding: 17px 0 0;
  border-top: 1px solid #E2E2E2;
}

.vacancyContent__position {
  margin-bottom: 6px;
  font: 20px/24px $roboto-black;
}

.vacancyContent__salary {
  margin-bottom: 10px;
  font: 16px/21px $roboto-medium;
  color: #5C5C5C;
}

.vacancyContent__description {
  margin-bottom: 20px;
  font: 16px/23px $roboto-regular;
}

.vacancyContent__experience {

}

.vacancyContent__label {
  display: inline-block;
  padding: 5px 11px 3px;
  font: 12px/17px $roboto-medium;
  text-transform: uppercase;
  border: 1px solid #DCDCDC;
  border-radius: 15px;
}

.vacancyContent__buttons {
  margin-top: 20px;
  margin-right: -10px;

  .col--2 {
    padding-right: 10px;
  }
}

.vacancyContent__button {
  font-size: 14px;
}



// footer
.vacancyFooter {
  margin: 0 30px;
  padding: 18px 0 0;
  border-top: 1px solid #E2E2E2;
}

.vacancyFooter__title {
  margin-bottom: 8px;
  font: 12px/18px $roboto-bold;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.5);
}

.vacancyFooter__address {
  margin-bottom: 12px;
}



// map
.vacancyFooter__map {
  height: 130px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}



// social
.vacancyFooter__social {

}

.socialCols {

}

.socialCols__link {
  height: 50px;
  font: 14px/50px $roboto-bold;
  color: $black;
  text-align: center;
  background-color: $white;
  border: 1px solid #E7E9EC;
  border-right: 0;

  &:before {
    content: '';
    margin-right: 15px;
    vertical-align: middle;
  }

  &:first-child {
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-right: 1px solid #E7E9EC;
    border-radius: 0 3px 3px 0;
  }

  &:hover {
    background-color: $white-light;
  }
}

.socialCols__link--fb {
  &:before {
    margin-bottom: 3px;
    @include background-image(facebook, 11px, 19px);
  }
}

.socialCols__link--vk {
  &:before {
    margin-bottom: 3px;
    @include background-image(vk, 19px, 11px);
  }
}



// closed vacancy
.vacancyAbout--closed {
  padding-bottom: 0;
  color: #959595;

  .vacancyContent__salary,
  .vacancyFooter__title {
    color: #959595;
  }
}

.vacancyAttention {
  padding: 8px 20px 7px;
  font: 12px/18px $roboto-medium;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  background-color: #EFEFEF;
}
