.vacanciesList {

}

.vacancy {
  margin-bottom: 30px;
  background: $white;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.10);
  border-radius: 5px;
}

.vacancy__in {
  position: relative;
  padding: 20px 210px 18px 105px;
}



// info
.vacancyInfo {

}

.vacancyInfo__avatarWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 65px;
  border-radius: 50%;
}

.vacancyInfo__avatarWrapper--online {
  &:before {
    content: '';
    position: absolute;
    left: -5px;
    bottom: 0;
    width: 17px;
    height: 17px;
    background-color: #89CA46;
    border: 2px solid $white;
    border-radius: 50%;
  }
}

.vacancyInfo__avatarWrapper--video {
  top: 17px;
  width: 71px;
  height: 71px;
  border: 3px solid $red;

  &:after {
    content: '';
    @include background-image(video, 13px, 7px);
    position: absolute;
    left: -5px;
    top: 1px;
    width: 21px;
    height: 21px;
    background-color: $red;
    border-radius: 50%;
  }
}

.vacancyInfo__avatar {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.vacancyInfo__name {
  font: 18px/24px $roboto-bold;
}

.vacancyInfo__position {

}

.vacancyInfo__about {
  color: $black;
  border-bottom: 1px solid $black;

  &:hover {
    border-bottom-color: transparent;
  }
}

.vacancyInfo__address {
  color: #959595;
}



// buttons
.vacancyButtons {
  position: absolute;
  top: 27px;
  right: 20px;
}

.vacancyButton {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  line-height: 50px;
  text-align: center;
  background-color: #97B563;
  cursor: pointer;
  transition: background-color $transition-normal;
  border-radius: 50%;

  &:hover {
    background-color: #B1CE7E;

    .vacancyButton__info {
      @include show();
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.vacancyButton--archive {
  background-color: #ECECEC;

  &:hover {
    background-color: $white-light;
  }
}

.vacancyButton__info {
  position: absolute;
  top: -16px;
  left: 50%;
  font: 10px/12px $roboto-medium;
  text-transform: uppercase;
  color: #959595;
  white-space: nowrap;
  transform: translateX(-50%);
  @include hide();
}

.vacancyButton__icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}



// labels
.vacancyInfo__label,
.vacancyButtons__label {
  display: inline-block;
  margin-top: 12px;
  padding: 3px 13px 2px;
  font: 12px/20px $roboto-medium;
  text-transform: uppercase;
  color: $white;
  white-space: nowrap;
  border-radius: 15px;
}

.vacancyInfo__label,
.vacancyButtons__label--ok {
  background-color: $green;
}

.vacancyButtons__label--error {
  background-color: $orange;
}

.vacancyButtons__label--refuse {
  background-color: #9E9E9E;
}

.vacancyInfo__label {
  margin-top: 0;
  margin-left: 8px;
}



// speech
.vacancySpeech {
  margin: 22px -190px 2px -85px;
  padding: 5px 15px;
  position: relative;
  font-size: 16px;
  background-color: #F0FBE8;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 25px;
    border: 7px solid transparent;
    border-bottom: 7px solid #F0FBE8;
    border-left: 7px solid #F0FBE8;
  }
}
