doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title Radar
    meta name="description" content=""

    link rel="icon" type="image/png" href="../../img/favicons/favicon-16x16.png" media="all" sizes="16x16"
    link rel="icon" type="image/png" href="../../img/favicons/favicon-32x32.png" media="all" sizes="32x32"
    link rel="icon" type="image/png" href="../../img/favicons/favicon-96x96.png" media="all" sizes="96x96"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-57x57.png" media="all" sizes="57x57"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-60x60.png" media="all" sizes="60x60"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-72x72.png" media="all" sizes="72x72"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-76x76.png" media="all" sizes="76x76"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-114x114.png" media="all" sizes="114x114"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-120x120.png" media="all" sizes="120x120"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-144x144.png" media="all" sizes="144x144"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-152x152.png" media="all" sizes="152x152"
    link rel="apple-touch-icon" type="image/x-icon" href="../../img/favicons/apple-touch-icon-180x180.png" media="all" sizes="180x180"

    link rel="stylesheet" media="all" href="../../css/app.css"
  body
    .contentWrapper
      .login
        span.login__logo.icon.icon--logo

        .formWrapper
          form.formWrapper__form.form.form--login
            h1.form__title.titleMain Вход в личный кабинет
            / .formBlock.has-error
            .formBlock
              label.formLabel
                span.formLabel__info Ваш номер телефона
                input.formLabel__field.is-mobile type="text" placeholder="Введите Ваш номер телефона"
              span.formBlock__error Неверный номер телефона
            .formButtons
              button.formButtons__button.linkButton.linkButton--red.popup-open data-popup="popup-confirmation" type="submit" Продолжить

    .popup.popup-confirmation
      .popup__title Подтвердите номер
      .popup__info Введите СМС-код, который мы выслали на указанный номер
      form.form.popup__form
        .cols.form__cols
          .col--2.form__col
            .formBlock
              label.formLabel
                span.formLabel__info Код из смс
                input.formLabel__field type="text" placeholder="Введите код"
          .col--2.form__col
            .formBlock
              label.formLabel
                span.formLabel__info &nbsp;
                a.linkButton.linkButton--send href="#" выслать еще раз
        .formButtons
          button.formButtons__button.formButtons__button--small.linkButton.linkButton--red type="submit" disabled="disabled" Подтвердить
          button.formButtons__button.formButtons__button--small.linkButton.linkButton--gray type="reset" Отменить



    script src="../../js/app.js"
